[user]
	signingkey = F9F034ED3E5756E4
	email = joaquin@joaquinrossi.net
	name = Joaquin Rossi
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[init]
	defaultBranch = master
[pull]
	rebase = false
[alias]
	pushall = !git remote | xargs -L1 git push --all
[gpg]
	program = gpg
