#!/bin/sh
layout
wallpaper

picom -b -f --no-fading-openclose

/usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &

setxkbmap es #nodeadkeys
numlockx

nm-applet &
# udiskie -s &
volumeicon &
dunst &

# cbatticon -n -u 1 &
